.productDetails {
  display: flex;
  width: 100%;
  margin: 20px 0;
  padding: 2vh !important;
}

.firstVarse {
  margin: auto;
}

.carouselImage img {
  width: 350px;
  height: 350px;
  object-fit: contain;
  margin: auto;
}

.varse2 {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.detailsBlock1 > h2 {
  padding: 5px 0px;
}

.detailsBlock2 > span:first-child {
  padding: 5px 0px;
}

.stopBusinessTitle {
  font-size: xx-large;
  font-weight: bolder;
  text-align: center;
  margin: 32px;
}
.detailsBlock2 > span:last-child {
  padding: 0px 0px 2px;
  display: inline-block;
  vertical-align: text-bottom;
}
.sizeSection .title {
  font-size: 20px;
  font-weight: bolder;
}

.sizeSection .list {
  display: flex;
  max-width: 100%;
  flex-wrap: wrap;
  text-transform: uppercase;
  margin: 12px 0;
}

.sizeSection .item,
.itemDisable,
.itemActive,
.sizeSection .item,
.itemDisable,
.itemActive,
.detailsBlock31,
.wistList,
.action,
.addToCart,
.addToWishList,
.addToCart {
  display: flex;
  align-items: center;
}

.sizeSection .item,
.itemDisable,
.itemActive,
.sizeSection .item,
.itemDisable,
.itemActive {
  position: relative;
  height: 40px;
  width: 40px;
  margin: 0 4px;
  background-color: #e6e6e6;
  font-size: 18px;
  line-height: 1;
  justify-content: center;
}

.sizeSection .item:hover {
  background-color: #3d434d;
  color: #fff;
}
.sizeSection .itemActive {
  background-color: var(--main-color);
  color: white;
}
.sizeSection .itemDisable {
  opacity: 0.5;
  cursor: not-allowed;
  border: 1px solid var(--main-color);
}
.sizeSection .itemDisable::after {
  position: absolute;
  top: -4px;
  left: 20px;
  transform: rotate(45deg);
  content: "";
  height: 120%;
  border: 0.1px solid var(--main-color);
  transform: rotate(45deg);
}

.sizeSection input:checked ~ label {
  display: none;
}
input {
  outline: none;
}

.css-14j5k7k {
  justify-content: center !important;
  align-items: center !important;
  display: flex !important;
}

.detailsBlock311 {
  --width: 90px;
  height: 30px;
  overflow: hidden;
  display: flex;
  margin: 10px;
  font-size: 20px;
}

.detailsBlock311 > button {
  width: calc(var(--width) / 3);
  background: var(--main-color);
  border: none;
  color: #fff;
  font-size: 22px;
}
.detailsBlock311 input[type="number"] {
  border: none;
  width: calc(var(--width) / 2);
  text-align: center;
  font-size: 22px;
}

.stockMeta {
  padding-bottom: 12px;
}
.outOfStock {
  background-color: var(--main-color);
  color: white;
  padding: 4px;
}
.inStock {
  background-color: green;
  color: white;
  display: inline-block;
  padding: 4px 8px;
}

.addToWishList,
.addToCart {
  padding: 16px 8px;
  flex: 1;
  background-color: #e4eaec;
  height: 56px;
}

.addToCart {
  background-color: var(--main-color);
  color: white;
}

.addToCart.disable {
  background-color: #bdbdbd;
  color: #81858c;
}

.wishListBtn,
.cartBtn {
  opacity: 0.7;
  padding: 0px 5px;
  font-size: 16px;
  font-weight: bold;
  border: none;
}

.cartBtn {
  background: none;
}

.tab {
  border-top: 0.3px solid var(--main-color);
}

.varse2Tab {
  width: 100%;
  height: 100%;
}
.tabHeading,
.varse2TabHeading {
  display: flex;
  justify-content: center;
  margin: 16px 0;
}

.varse2TabHeading {
  margin: 0;
}
.tabTitle,
.varse2TabTitle {
  color: #a9a9a9;
  font-size: 1.5rem;
  padding: 8px;
}

.varse2TabTitle {
}

.tabTitle.active,
.varse2TabTitle.active {
  color: #000;
}

.tabContent,
.varse2TabContent {
  display: none;
}

.tabContent.active,
.varse2TabContent.active {
  display: block;
}

.customBlock {
}

.customBlockLabel {
  font-weight: bold;
  font-size: large;
  opacity: 0.8;
  display: block;
  margin: 12px 0;
}

.formGroup {
  position: relative;
  margin-top: 8px;
  overflow: visible;
}
.formGroup > label {
  position: absolute;
  top: 20%;
  left: 4px;
  background-color: white;
}
.formControl {
  padding: 8px;
  text-transform: uppercase;
}

.formControl:focus + .formGroupLabel,
.formControl:not(:placeholder-shown) + .formGroupLabel {
  top: -4px;
  left: 2px;
  font-size: 10px;
  background-color: white;
}

.formControl::placeholder {
  color: transparent;
}
.selectBlock {
  max-height: 50px;
  overflow: auto;
}

.selectPlayer {
  padding: 8px 0;
  width: 189px;
}
.patchBlock,
.patchItem {
  display: flex;
  align-items: center;
}
.patchBlock {
  justify-content: space-between;
}

.patchItem {
  background-color: #e6e6e6;
  width: 48%;
  height: 40px;
  cursor: pointer;
}

.patchItem.active {
  background-color: red;
  color: white;
}
.patchItemLogo > img {
  width: 32px;
}

.patchItemName {
  font-size: large;
}

.clearPatch {
  color: var(--main-color);
  text-align: right;
  font-size: 20px;
  padding: 8px 4px;
  cursor: pointer;
}

.desc {
  padding: 16px;
}
.reviewsHeading h1 {
  padding: 5px 30px;
  opacity: 1;
  border-bottom: 1px solid #999;
  font-family: Poppins, sans-serif;
}

.relatedProducts {
  padding-top: 32px;
}
.sizeSection .item,
.detailsBlock311 > button,
.addToWishList,
.addToCart,
.tabTitle {
  cursor: pointer;
}
@media only screen and (max-width: 900px) {
  /* .productDetails {
    padding: unset !important;
    flex-direction: column;
  }
  .productDetails >div:last-child {
    align-items: center;
  }

  .detailsBlock2 {
    justify-content: center;
    padding: 10px 0;
  }

  .detailsBlock > div {
    justify-content: center;
  }

  .stockMeta {
    text-align: center;
  }
  .wishListBtn,.cartBtn {
    font-size: 12px !important;
  } */
}

@media screen and (max-width: 767px) {
  .productDetails {
    padding: unset !important;
    flex-direction: column;
  }

  .carouselImage {
    width: 100%;
    display: flex;
  }

  .carouselImage img {
    margin: auto;
  }
  .productDetails > div:last-child {
    align-items: center;
  }

  .detailsBlock2 {
    justify-content: center;
    padding: 10px 0;
  }

  .detailsBlock > div {
    justify-content: center;
  }

  .list {
    justify-content: center;
  }
  .stockMeta {
    text-align: center;
    margin: 8px;
  }
  /* .wishListBtn,.cartBtn {
    font-size: 12px !important;
  } */
  .productDetails {
    padding: 0px 1vmax !important;
  }
  .varse2 {
    width: 100%;
    overflow: hidden;
    text-align: center;
  }

  .varse2 > div {
    width: 100%;
  }
  .detailsBlock31 {
    flex-direction: column;
  }

  .detailsBlock > div > h1 {
    font-size: 3vmax;
    color: #000 !important;
    opacity: 1;
    padding: 1vmax 0;
  }

  .CarouselItem {
    width: 100%;
    height: 100%;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
  }

  .formControl,
  .selectPlayer,
  .patchItem {
    width: 100%;
  }
  .firstVarse {
    margin: unset !important;
  }

  .patchBlock {
    flex-direction: column;
  }

  .selectPlayer {
    padding: 8px 0;
  }
  .patchItem:first-child {
    margin-bottom: 8px;
  }
}

@media only screen and (max-width: 350px) {
  .wishListBtn,
  .cartBtn {
    font-size: 8px !important;
  }
}
